.form-container{
    display: flex;
    flex-direction: column;
    margin-left: 250px;
    align-items: center;
}

form {
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 1000px;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    margin-top: 50px;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
    transition: border-color 0.3s ease;
}

input:focus {
    border-color: #007bff;
    outline: none;
}

button {
    padding: 10px 20px;
    margin: 5px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: rgb(10, 199, 10);
    color: white;
    transition: background-color 0.3s ease;
}

button[type="button"] {
    background-color: #6c757d;
}

button:hover {
    background-color: green;
}

button[type="button"]:hover {
    background-color: #5a6268;
}

.loading{
    margin-top: 75px;
}