.home{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 250px;
    height: 100px;
    background-color: #DBA39A;
}

.home h1{
    margin-top: 0px;
    text-align: center;
    color: brown;
}






